<?xml version="1.0" encoding="utf-8"?>

<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/09e6e49a-dd1f-4a5c-a28d-2c99e18d5e5a/resourceGroups/aty/providers/Microsoft.Web/sites/sewastitch</ResourceId>
    <ResourceGroup>aty</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sewastitch.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>a6e122fc-5c03-4b87-9d6b-843abafc0659</ProjectGuid>
    <PublishUrl>https://sewastitch.scm.azurewebsites.net/</PublishUrl>
    <UserName>$sewastitch</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>